.card  {
  width: 340px;
  height: 600px;
  margin: 64px auto;
  background: #F3F2DA;
  border-radius: 5px;
  padding: 24px 84px;
}

.imageBox {
  width: 100%;
  text-align: center;

  img {
    border-radius: 200px;
  }
}

.head {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.iconText {
  display: inline-block;
  margin: 0 8px;
  font-size: 16px;
  vertical-align: middle;
}

.row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 3px #045762;
  margin: 12px 0;
}

.badge {
  white-space: nowrap;
  vertical-align: middle;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-radius: 0.125rem;
  font-weight: 700;
  background: rgb(198, 246, 213);
  color: rgb(34, 84, 61);
  float: right;
  font-size:10px;
}

.cell {
  width: 50%;
}

.skillBox {
  margin-top: 30px;
}

.skillBadge {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.75rem;
  border-radius: 0.125rem;
  font-weight: 700;
  background: rgb(198, 246, 213);
  color: rgb(34, 84, 61);
  margin-right: 8px;
  margin-bottom: 4px;
}


// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }
